@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

html {
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: #4b5563;
}

a:hover {
  color: #ff7f3e;
}

#root {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}

body {
  background-color: #047790;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 1rem;
  display: flex;
  width: 100vw;
  height: 100svh;
  margin: 0;
  color: #1f2937;
}

.container {
  background-color: white;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 4px 8px 32px rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  width: 100%;
  max-width: 991px;
  margin: 0 auto;
  padding: 1rem;
  color: white;
  display: flex;
  gap: 0.5rem;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
}

.link_nav {
  color: white;
  font-size: 1rem;
  color: white;
}

.link_nav.active {
  color: #ff7f3e;
  font-size: 2rem;
}

.main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.users__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.user {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.user__header {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
}

.user__pic {
  display: block;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  background-color: #e5e7eb;
  text-align: center;
}

.user__header-name {
  font-size: 1.2rem;
  font-weight: 500;
  color: #ff7f3e;
  margin: 0;
}

.user__header-email {
  font-size: 0.8rem;
}

.user__content-item {
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e5e7eb;
}

.user__content-bio {
  color: #4b5563;
  text-align: center;
}

.btn {
  border: none;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 10px;
  font-family: inherit;
  align-self: center;
}

.error {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

@media (min-width: 450px) {
  .container {
    padding: 2rem;
    max-width: 80%;
  }

  .users__list {
    flex-direction: row;
  }
}

@media (min-width: 991px) {
  html {
    font-size: 18px;
    line-height: 28px;
  }
  .container {
    max-width: 60%;
    padding: 3rem;
  }

  .users__list {
    gap: 2rem;
  }
}
